body{
    background-color: rgb(112, 112, 112);
}
table{
    background-color: white;
    width: 900px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    position: absolute;
    top: 0%;
    right: 13%;
   
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 20px;
    height: 20px;
}